{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content mbtm">
            <div class="row">
                <div class="col-xl-12 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5 forced">
                        <div class="section-content" style="font-family: sans-serif;">
                            {{page.content|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}