{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Header-->
    <header class="py-5" >
        <div class="container px-5" >
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">Nuestra misión impulsar la transformación digital de pequeños negocios y empresas.</h1>
                        <p class="lead fw-normal text-muted mb-4"> Mediante soluciones tecnológicas integrales, accesibles y personalizadas podemos ayudar 
                            a pequeños negocios y empresas en Cuba, México y Latinoamérica a lograr su transformación digital. Nos especializamos en desarrollar 
                            portales web, tiendas virtuales y sistemas de gestión integrados con análisis inteligente de datos y asistentes autónomos, para 
                            optimizar procesos, mejorar la toma de decisiones y potenciar el crecimiento sostenible de nuestros clientes.</p>
                        <a class="btn btn-primary btn-lg" href="#scroll-target">Conoce nuestra historia</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- About section one bg-light-->
<section class="py-5" id="scroll-target" style="background-color: #e6f0ff;">
    <div class="container px-5 my-5" >
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Nuestros inicios</h2>
                <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
            </div>
        </div>
    </div>
</section>

<!-- About section two-->
<section class="py-5" style="background-color: #e6f0ff;">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Growth &amp; beyond</h2>
                <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
            </div>
        </div>
    </div>
</section>

<!-- Team members section-->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Nuestro equipo</h2>
                <p class="lead fw-normal text-muted mb-5">Trabajamos por un servicio de calidad</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                {% for e in equi %}
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="{{ e.get_image_url }}" alt="{{e.nombre_apellidos}}" />
                        <h5 class="fw-bolder">{{e.nombre_apellidos}}</h5>
                        <div class="fst-italic text-muted">{{e.cargo}}</div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
</main>
{% endblock %}
