{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form bg-light bg-primary -->
            <div class="rounded-3 py-5 px-4 px-md-5 mb-5" style="background-color: #fff2e6;">
                <div class="text-center mb-5">
                    <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#0056b3;"><i class="bi bi-envelope" ></i></div>
                        <h1 class="fw-bolder">Contáctanos</h1>
                        <p class="lead fw-normal text-muted mb-0">Nos encantaría saber de tí</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            {% if 'ok'  in request.GET %}
                                <p> <b> Su mensaje se ha enviado correctamente </b></p>
                            {% endif %}
      
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label> Nombre * </label>
                                    <div class="input-group"> {{form.name}} </div>
                                    {{form.name.errors}}
                                </div>
                                <div class="form-group">
                                    <label> Correo * </label>
                                    <div class="input-group"> {{form.email}} </div>
                                </div>
                                <div class="form-group">
                                    <label> No. Teléfono </label>
                                    <div class="input-group"> {{form.tlf}} </div>
                                </div>
                                <div class="form-group">
                                    <label> Mensaje * </label>
                                    <div class="input-group"> {{form.content}} </div>
                                </div>  
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary btn-block my-4 " value="Enviar">
                                </div>
                            </form>
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- * * SB Forms Contact Form * *-->
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- This form is pre-integrated with SB Forms.-->
                                <!-- To make this form functional, sign up at-->
                                <!-- https://startbootstrap.com/solution/contact-forms-->
                                <!-- to get an API token! --- data-sb-form-api-token="API_TOKEN"-->
                            <!--<form id="contactForm" method="POST">
                                 Name input
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Introduce tu nombre..." data-sb-validations="required" />
                                    <label for="name">Nombre completo</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">El nombre es requerido.</div>
                                </div>-->
                                <!-- Email address input
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" placeholder="usuario@example.com" data-sb-validations="required,email" />
                                    <label for="email">Correo electrónico</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">Es requerido el correo electrónico.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Este correo no es válido.</div>
                                </div>-->
                                <!-- Phone number input
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" type="tel" placeholder="(+53) 52 145636" data-sb-validations="required" />
                                    <label for="phone">Número de teléfono</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">Es requerido un número de teléfono.</div>
                                </div>-->
                                <!-- Message input
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" type="text" placeholder="Introduce tu mensaje aquí..." style="height: 10rem" data-sb-validations="required"></textarea>
                                    <label for="message">Mensaje</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">El mensaje es requerido.</div>
                                </div>-->
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">¡El formulario se envío satisfactoriamente!</div>                                        
                                    </div>
                                </div>-->
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error enviando el mensaje.</div></div>
                                Submit Button
                                <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
                            </form>-->
                        </div>
                    </div>
                </div>
                <!-- Contact cards-->
                <div class="row gx-5 row-cols-1 row-cols-lg-3 py-5">
                    <div class="col">
                        <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#0056b3;"><i class="bi bi-chat-dots"></i></div>
                        <div class="h5 mb-2">Conversa directamente con nosotros</div>
                        <p class="text-muted mb-0">Conéctate con nuestros especialistas.</p>
                    </div>
                    <!-- <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                        <div class="h5">Ask the community</div>
                        <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
                    </div> -->
                    <div class="col">
                        <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#0056b3;"><i class="bi bi-question-circle"></i></div>
                        <div class="h5">Centro de soporte</div>
                        <p class="text-muted mb-0">Explora nuestra sección de preguntas y respuesta para encontrar las respuestas.</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color:#0056b3;"><i class="bi bi-telephone"></i></div>
                        <div class="h5">Llámanos</div>
                        <p class="text-muted mb-0">Puedes llamar durante el horario habitual de trabajo al (+53) 58 236469.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}