{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5" style="background-image: url('../static/images/banner.webp'); background-size: 100%; background-repeat: no-repeat;">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center" >
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Optimizamos tu esfuerzo, multiplicamos tu éxito</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Contribuimos a la Transformación Digital de tu negocio, con soluciones informáticas hechas a la medida.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-outline-light btn-lg px-4" href="#!">Catálogo</a>
                        </div>
                    </div>
                </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"></div><!--<img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />-->
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-3">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0" style="color: #0056b3;">Contribuimos a elevar la madurez digital de tu negocio</h2>
                    <img class="card-img-top img-fluid rounded-3 my-5" src="{% static 'images/logo.png'%}" style="max-width: 60%; max-height: 60%;" alt="..."  />
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">                            
                        <div class="col mb-5 h-100">
                            <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color: #ff6b00;"><i class="bi bi-window-sidebar"><i class="bi bi-cloud-upload"></i></i></div>
                            <h2 class="h5" style="color: #343a40;">Presencia Digital</h2>
                            <p class="mb-0" style="color: #343a40;">Construimos tu identidad en la web y tus canales básicos en el mundo digital.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color: #ff6b00;"><i class="bi bi-menu-button-wide"></i></div>
                            <h2 class="h5" style="color: #343a40;">Digitalización de la información Empresarial</h2>
                            <p class="mb-0" style="color: #343a40;">Convertimos información en formatos y flujos digitales.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color: #ff6b00;"><i class="bi bi-cpu"></i></div>
                            <h2 class="h5" style="color: #343a40;">Informatización de los Procesos Empresariales</h2>
                            <p class="mb-0" style="color: #343a40;">Automatizamos y optimizamos los flujos de trabajo y procesos empresariales específicos mediante el uso de tecnología de la información.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-gradient text-white rounded-3 mb-3" style="background-color: #ff6b00;"><i class="bi bi-cloud-plus"></i></div>
                            <h2 class="h5" style="color: #343a40;">IA y Análisis de Datos para la Toma de Decisiones</h2>
                            <p class="mb-0" style="color: #343a40;">Incorporamos la IA y el análisis avanzado para transformar radicalmente lo que se puede hacer con los datos gestionados digitalmente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <!-- Productos y Servicios -->
    <section class="py-1">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder" style="color: #0056b3;">Nuestros productos</h2>
                        <p class="lead fw-normal mb-5" style="color: #343a40;">Te ofrecemos productos profesionales que potencian las fortalezas de tu negocio.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                {%for p in products %}
                {% if not p.servicio %}
                {% if p.destacado %}
                <div class="col-lg-3 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{{p.get_image_url}}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'detalle_prod' p.slug %}"><h5 class="card-title mb-3">{{p.nombre}}</h5></a>
                            <p class="card-text mb-0">{{p.slogan}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="py-1">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder" style="color: #0056b3;">Nuestros Servicios</h2>
                        <p class="lead fw-normal mb-5" style="color: #343a40;">Te ofrecemos servicios profesionales que contribuyen a mejorar tu negocio.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                {%for p in products %}
                {% if p.servicio %}
                {% if p.destacado %}
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{{p.get_image_url}}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'detalle_prod' p.slug %}"><h5 class="card-title mb-3">{{p.nombre}}</h5></a>
                            <p class="card-text mb-0">{{p.slogan}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            <!-- Call to actionbg-primary -->
            <aside class="bg-gradient rounded-3 p-4 p-sm-5 mt-5 my-5" style="background-color: #003a75;">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Contáctanos para saber más sobre nuestros servicios y productos</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Correo electrónico..." aria-label="Correo electrónico..." aria-describedby="button-newsletter" />
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Enviar</button>
                        </div>
                        <div class="small text-white-50">Nos preocupamos por tu privacidad, por lo que nunca compartiremos tus datos.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>
{% endblock %}
