{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="py-5">
    <div class="text-center mb-5">
        <h1 class="fw-bolder">Nuestro catálogo</h1>
        <p class="lead fw-normal text-muted mb-0">Ponemos todos nuestros productos y servicios a tu dispocisión.</p>
    </div>
    <div class="container px-5 my-5">
        <div class="row gx-5" >
            <div class="col-lg-12" style="background-color: #e6f0ff; font-family: Montserrat;">
                <h3 style="font-weight: bold;">Productos</h3>
            </div>
            {%for p in products %}
            {% if not p.servicio %}
            <div class="col-lg-4">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="{{p.get_image_url}}" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="{% url 'detalle_prod' p.slug %}">{{p.nombre}}</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row gx-5" >
            <div class="col-lg-12" style="background-color: #e6f0ff; font-family: Montserrat;">
                <h3 style="font-weight: bold;">Servicios</h3>
            </div>
            {%for p in products %}
            {% if p.servicio %}
            <div class="col-lg-4">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="{{p.get_image_url}}" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="{% url 'detalle_prod' p.slug %}">{{p.nombre}}</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container px-5 my-5" style="font-family: Montserrat; text-align: center;">
        <h2 class="display-8 fw-bolder mb-4">Contruyamos algo juntos</h2>
        <a class="btn btn-lg btn-primary" href="{% url 'contacto' %}">Contáctanos</a>
    </div>
</section>
</main>
{% endblock %}